.Dashboard {
  background: #000;
  color: white;
  padding: 0.5rem 10rem;
  height: 772px;
}

button {
  padding: 5px 10px;
  margin: 0px 2px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button.Editthings {
  background-color: black;
  color: white;
}

button.Delete {
  background-color: red;
  color: white;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  padding: 0;
  height: 30px;
}
