.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #101111;
}

.wrapper {
  background-color: #333;
  color: #fff;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.wrapper h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.wrapper .webname h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #9370db;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

.btnlog {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #6a0dad;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnlog:hover {
  background-color: #7e22e0;
}

.register-link {
  margin-top: 20px;
}

.register-link p {
  font-size: 14px;
}

.register-link a {
  color: #9168af;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
